html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    font-family: 'Times New Roman', Times, serif;
    color: #4a4242;
    box-sizing: inherit;
}
h1{
    text-align: center;
    font-size: 50px;
}
.list {
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    display: inline-block;
    margin-left: 100px;
}
.img-carbonara {
    height: auto;
    width: 500px;
    display: block;
    margin: auto;
}